#homepage-friendlist {
  width: 100vw;
  height: 99.9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepage-chatpart {
  width: 100vw;
  height: 99.9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
